body {
    color: #70565F;
   background-image: url("https://thumbs.dreamstime.com/t/empty-wooden-kitchen-counter-over-mint-wall-background-product-montage-display-74202423.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
    background-size: 2000px 700px;
}
